<h1>{{ title }}</h1>
<p>welocme {{ title }}</p>
//un blocco di codice in handlebars
{{# if condition}}
    condition is met
{{ else }}
    condition not met
{{/if}}

{{# each anyArray as |val key|}}
    {{ this }}
{{/each}}